*{
    box-sizing: border-box;
}

table,td,th{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
table{
    width: 700px;
    margin: auto;
    margin-top: 100px;
}
th{
    background-color: beige;
}